<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <strong>{{message}}</strong>
    <ion-card *ngFor="let item of userData" (click)="versPageDetail(item)">
      <img alt="Silhouette of mountains" [src]="item.img" />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-content>


